body {
  background: #ffffff;
  color: #333333;
  margin-top: 5rem;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}
.bg-teal {
  background-color: #81dccd;
}

.bg-teal-grad {
  background-image: linear-gradient(#81dccd, #ffffff);
}

.txt-teal {
  color: #81dccd;
}

.txt-teal:hover {
  color: #01846e;
}
.site-header {
  background-color: #ffffff;
}

.site-header .navbar-brand {
  color: #424040;
}

.site-header .navbar-brand:hover {
  color: #81dccd;
}
.site-header .navbar-nav .nav-link {
  color: #424040;
}

.site-header .navbar-nav .nav-link:hover {
  color: #81dccd;
  }
  
  .site-header .navbar-nav .nav-link img:hover {
    height: 28px;
  }
  
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://s-z-site-public.s3.ap-southeast-2.amazonaws.com/images/G0091576.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: #333;
  }
  
  .btn-happy-red {
    background-color: #d6818a;
    border-color: #d6818a;
    color: #ffffff;
    font-weight: bold;
  }
  
  .btn-happy-red:hover {
    background-color: #C95B66;
    border-color: #c95b66;
    box-shadow: #333;
  color: #ffffff;
}

.btn-happy-teal {
  background-color: #81dccd;
  border-color: #81dccd;
  color: #ffffff;
  font-weight: bold;
}

.btn-happy-teal:hover {
  background-color: #81dccd;
  border-color: #81dccd;
  box-shadow: #333;
  color: #ffffff;
}

.blockquote-accent {
  border-left: #81dccd;
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 6px;
}
.card-img-top .embed-responsive {
  object-fit: cover;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
