{% extends "blog/base.html"%}
{% block content %}
<div class="row justify-content-center">
    <div class="col-10 text-center">
        <hr />
        <h1 class="my-5">Contact Us</h1>
        <hr />
        <h4 class="font-weight-light my-5">Reach out to us about anything! Except for spam, please keep that to
            yourself.</h4>
        <img class="rounded-circle my-5 center"
            src="https://s-z-site-public.s3.ap-southeast-2.amazonaws.com/images/208772602_953591955462924_6638467584726214068_n.jpg"
            alt="photo of Sarah and Zane with strawberries">
        <a class="txt-teal pb-5" href="mailto:hello@sarahandzane.com" target="_blank">
            <h4>hello@sarahandzane.com</h4>
        </a>
        <hr />
    </div>
</div>

{% endblock content %}