{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-10 col-lg-8 col-xl-7">
        <div class="row">
            <div class="col">
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                        <small class="text-muted">{{ object.date_posted|date:"d F Y" }}</small>
                        {% if object.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.slug %}">update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.slug %}">delete</a>
                        </div>
                        {% endif %}
                    </div>
                    <h2 class="article-title">{{ object.title }}</h2>
                    <div class="article-body">{{ object.formatted_markdown_body | safe }}</div>
                    <div>
                        {% for tag in object.tags.all %}
                        <label class="badge badge-info mr-1">{{tag}}</label>
                        {% endfor %}
                    </div>
                </div>
            </article>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="content-secondary">
                    <div class="page-header">
                        {% with object.comments.count as total_comments %}
                        <h2>{{ total_comments }} <small>Comment{{total_comments|pluralize}}</small></h2>
                        {% endwith %}
                    </div>
                    {% for comment in object.comments.all %}
                    <article class="media content-section">
                        <div class="media container-fluid">
                            <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}">
                            <div class="media-body">
                                <h4 class="media-heading user_name">{{ comment.author }}</h4>
                                {{ comment.body }}
                                <p><small><a href="#">Like</a> - <a href="#">Share</a></small></p>
                            </div>
                            <div class="pull-right">
                                <p><small class="mb-2">{{ comment.date_created|date:"P" }}</small></p>
                                <small class="mb-2">{{ comment.date_created|date:"j.n.y" }}</small>
                            </div>
                        </div>
                    </article>
                    {% empty %}
                    <h3>Be the first to comment.</h3>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Add a new comment</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">post comment</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login to Comment</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}